.Header {
    display: flex;
    background-color: #1F2937;
    font-family: 'Roboto';
}
.Header__logo {
    font-size: 24px;
    color:#F9FAF8;
}
.Hero {
    display:flex;
    justify-content: center;
}
.Hero .Main__Text{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}
.Hero .Secondary__Text{
    font-size: 18px;
    color:#E5E7EB;
}